* {
    --link: rgb(95, 178, 229);
    --col: #ddd;
}

body {
    background-color: #313131;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--col);
    margin: 0;
}

/* ------- Nav Bar------------ */

nav {
    display: flex;
    justify-content: space-between;
    background-color: #212121;
    height: 40px;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: var(--link);
    margin: 5px;
    padding: 5px 10px;
}

nav svg {
    width: 25px;
    height: 25px;
    margin: 0 5px 0 5px;
    line-height: 40px;
}

svg path {
    fill: rgb(255, 249, 217);
}

.menu {
    margin-left: 30px;
}

.logo {
    font-size: 1.4em;
    font-weight: 600;
}

.extra {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.extra>a {
    border: 1px solid rgb(56, 93, 109);
    border-radius: 0 8px 0;
}

/* ------------------*/
label {
    display: inline-block;
    width: 90px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

p {
    text-align: center;
    font-size: 1.8em;
    margin: 0 0 30px;
}

.Form {
    background-color: #212121;
    padding: 30px 40px;
    box-shadow: 0px 0px 8px #555;
    border-radius: 10px;
}

input[type=email], input[type=submit] {
    border: 1px solid var(--col);
    border-radius: 5px;
    outline: none;
}

input[type=email], input[type=password] {
    width: 175px;
    padding: 8px 10px;
    font-size: 0.9em;
    background-color: #313131;
    margin: 8px 0;
    color: var(--col);
}

input[type=submit] {
    width: 100%;
    padding: 10px 0px;
    color: #313131;
    font-size: 1.1em;
    margin: 10px 0;
    background-color: rgb(95, 216, 229);
}

input[type=submit]:hover {
    background-color: rgb(95, 178, 229);
    color: #0f0e0e;
    cursor: pointer;
}

form a {
    font-size: 12px;
    text-decoration: none;    color: var(--link)

}

a:hover {
    color: rgb(35, 215, 224);
}