* {
    --col: #ddd;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--col);
    /* background-image: url("/bg.svg"); */
    background-color: #313131;
}
 
label {
    display: inline-block;
    width: 90px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

p {
    text-align: center;
    font-size: 1.8em;
    margin: 0 0 30px;
}

.loginForm {
    background-color: #212121;
    padding: 30px 40px;
    box-shadow: 0px 0px 8px #555;
    border-radius: 10px;
}

input[type=email], input[type=password], input[type=submit] {
    border: 1px solid var(--col);
    border-radius: 5px;
    outline: none;
}

.email, .pass {
    margin: 10px 0;
}

.email p, .pass p {
    font-size: 14px;
    margin: 0;
    visibility: hidden;
    text-align: left;
    margin-left: 95px;
}

.err {
    visibility: visible !important;
    color: #fb3a3a;
}

input[type=email], input[type=password] {
    width: 175px;
    padding: 8px 10px;
    font-size: 0.9em;
    background-color: #313131;
    color: var(--col);
}

input[type=submit] {
    width: 100%;
    padding: 5px 0px;
    color: #313131;
    font-size: 1.5em;
    margin: 5px 0 10px;
    background-color: rgb(95, 216, 229);
}

input[type=submit]:hover {
    background-color: rgb(95, 178, 229);
    color: #0f0e0e;
    cursor: pointer;
}

a {
    font-size: 12px;
    text-decoration: none;
    color: rgb(95, 216, 229);
}

a:hover {
    color: rgb(95, 178, 229);
}