* {
    --col: #abd;
    --link: rgb(95, 178, 229);
}

body {
    background-color: #313131;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--col);
    margin: 0;
}

/* ------- Nav Bar------------ */

nav {
    display: flex;
    justify-content: space-between;
    background-color: #212121;
    height: 40px;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: var(--link);
    margin: 5px;
    padding: 5px 10px;
}

nav svg {
    width: 25px;
    height: 25px;
    margin: 0 5px 0 5px;
    line-height: 40px;
}

svg path {
    fill: rgb(255, 249, 217);
}

.menu {
    margin-left: 30px;
}

.logo {
    font-size: 1.4em;
    font-weight: 600;
}

.extra {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.extra>a {
    border: 1px solid rgb(56, 93, 109);
    border-radius: 0 8px 0;
}

/* ------------------*/

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

label {
    display: inline-block;
    width: 90px;
}

p {
    text-align: center;
    font-size: 1.8em;
    margin: 0 0 30px;
}

.loginForm {
    background-color: #212121;
    padding: 30px 20px;
    box-shadow: 0px 0px 8px #555;
    border-radius: 10px;
}

input[type=email], input[type=password], input[type=submit], input[type=text] {
    border: 1px solid var(--col);
    border-radius: 5px;
    outline: none;
    margin: 10px 0;
}

.username, .email, .pass, .pass0 {
    margin: 10px 0;
    position: relative;
}

.username p, .email p, .pass p, .pass0 p {
    font-size: 14px;
    margin: 0;
    visibility: hidden;
    text-align: left;
    margin-left: 95px;
    position: absolute;
    top: 40px;
    background-color: crimson;
    padding: 4px;
    border-radius: 5px;
    transition: background-color 1s;
}

.username p::before, .email p::before, .pass p::before, .pass0 p::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: crimson;
    position: absolute;
    top: -5px;
    left: 5px;
    transform: rotate(45deg);
}

.err {
    visibility: visible !important;
    color: #fde8c0;
}

input[type=email], input[type=password], input[type=text] {
    width: 200px;
    padding: 8px 10px;
    font-size: 0.9em;
    background-color: #313131;
    color: var(--col);
}

#messagetag {
    font-size: 1.2em;
    margin: 0;
    color: rgb(253, 117, 144);
    visibility: hidden;
}

input[type=submit] {
    width: 100%;
    padding: 5px 0px;
    color: #313131;
    font-size: 1.5em;
    margin: 10px 0;
    background-color: rgb(95, 216, 229);
}

input[type=submit]:hover {
    background-color: rgb(95, 178, 229);
    color: #0f0e0e;
    cursor: pointer;
}

form a {
    font-size: 14px;
    text-decoration: none;
    color: var(--link)
}

a:hover {
    color: rgb(35, 215, 224);
}